n8n_rag.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "99474132-d07a-4033-a59b-c0869b6739a9",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        96,
        -80
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "C8VZKUip1kiPkkuv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "039b7acd-ef07-43d1-b60b-e4fb2e6f1012",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        288,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "630cad1a-7184-4f25-bfc6-e1cb5f525e58",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        288,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Actúas como el SISO (Chief Information Security Officer) de la organización. \nTu conocimiento principal proviene del RAG y la memoria corporativa conectados al agente:\n- Vector Store Qdrant con documentación interna, normas ICONTEC, políticas, procedimientos y registros.\n- Embeddings y modelos de recuperación Gemini.\n- Memoria conversacional en Postgres.\n\nTu rol:\n- Garantizar cumplimiento y buenas prácticas basadas en la familia ISO/IEC 27000 e ICONTEC.\n- Producir respuestas técnicas, breves, precisas y orientadas a ejecución.\n\nReglas obligatorias:\n1. Responde únicamente usando información del RAG o memoria.  \n   Si una información no existe → responde “NO_ENCONTRADO_EN_RAG”.\n2. Cuando cites información, usa los metadatos disponibles: \n   (source, filename, title, clause, version, date).\n3. Prioriza documentación interna por encima de cualquier referencia general de ISO.\n4. Si el usuario solicita algo que no existe en el RAG, sugiere acciones concretas:\n   - cargar documento, \n   - agregarlo al pipeline de ingestión, \n   - reindexar colección correspondiente.\n5. Usa lenguaje técnico y conciso: recomendaciones operativas, controles, matrices, pasos.\n6. Relaciona las respuestas con controles aplicables de ISO/IEC 27001/27002 y NTC ICONTEC cuando sea útil.\n7. Para análisis de riesgo, aplica metodología alineada con ISO 27005.\n8. No inventes políticas, controles o documentos internos; si no existen en el RAG indícalo explícitamente.\n\nFormato de respuesta:\n- Diagnóstico breve.\n- Información recuperada (listada con source y fragmento si aplica).\n- Recomendaciones accionables / controles aplicables.\n- Si falta información → “NO_ENCONTRADO_EN_RAG” + sugerencia de ingestión.\n\nTu objetivo:\nAsegurar que las respuestas estén completamente basadas en el conocimiento corporativo almacenado en el vector store y la memoria del sistema, para apoyar decisiones de seguridad alineadas al SGSI de la organización.\n\n"
        }
      },
      "id": "ceb390d4-b387-4c0f-8a69-6f53c17ba842",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -128,
        496
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "635b9f50-5696-44c0-96fa-5261dd6caebf",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        80,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a3b3a7d5-5d1c-4324-8b78-e44f435b535c",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -16,
        1072
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "C8VZKUip1kiPkkuv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "e088a78f-34ca-4e41-9f02-9c7be8914f64",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -96,
        -352
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VQ4iLKfbWBIA5ugR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chatea con los documentos de la compañia."
      },
      "id": "2e837c06-221a-4dae-847d-34f3722ac335",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "45a7d280-9b6a-4487-8af4-5ab3c260c990",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -560,
        -224
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VQ4iLKfbWBIA5ugR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "id": "bd9ebbb0-5687-4240-aab6-d0dec462ce24",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -560,
        -448
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VQ4iLKfbWBIA5ugR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b23a02f-ca18-4ffc-bfd6-e0bea2a82fa4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -480,
        496
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Vectoriza los documentos cargados en google dive",
        "width": 320
      },
      "id": "baefafb9-5a57-42ee-8e76-9d87f89cc84b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "11001f73-2afa-43c7-b95b-691dff714240",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -240,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "C8VZKUip1kiPkkuv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "9aa0735d-cfa6-4142-b971-82304db32322",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        272,
        912
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "C8VZKUip1kiPkkuv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "b9b7053d-fade-4bf0-8741-a2e31f2615e2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        240,
        -352
      ],
      "id": "d5e934a1-fc0c-423e-87f0-aca1f2c85289",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "mNKAly8AuuD7qZ7n",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "RAG_N8N",
          "mode": "list",
          "cachedResultName": "RAG_N8N"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        0,
        912
      ],
      "id": "6859e8a3-b23e-4317-a37c-cf604c09c9bc",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "mNKAly8AuuD7qZ7n",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -48,
        704
      ],
      "id": "0c1abbc8-395e-428e-ac9f-9eeabfa1a86a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "M6xbKwVPUiXdPcGf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qhjgofumXkpUQbBITyB9lSqAb3lIWd1f"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -656
      ],
      "id": "bd5eb9b8-8bec-4801-8c95-ee2438b34acd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VQ4iLKfbWBIA5ugR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        -656
      ],
      "id": "807acea4-d6e2-4786-b106-8b6a9be4a006",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UX5YxRmPNIqHDXfTW_xC4sVH9yfBS6WTJeAKKRCeyug",
          "mode": "list",
          "cachedResultName": "prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UX5YxRmPNIqHDXfTW_xC4sVH9yfBS6WTJeAKKRCeyug/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UX5YxRmPNIqHDXfTW_xC4sVH9yfBS6WTJeAKKRCeyug/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "a1": "={{ $('Download File From Google Drive').item.json.id }}",
            "a2": "={{ $('Download File From Google Drive').item.json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "a1",
              "displayName": "a1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "a2",
              "displayName": "a2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "a3",
              "displayName": "a3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -528
      ],
      "id": "ee9b45eb-0cc9-4564-b7d8-e89e99b97df5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wohWuLJUGKmnYnpD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "304f4c8b87ed5ad1be9369d7c492624db547f6372a38bcebf3029914788d039d"
  }
}